*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.button{
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: 2px solid #fff;
    padding: 2rem 4rem;
    position: relative;
    overflow: hidden;
    transition: color .5s;
}

.button:hover{
    color: #4facfe;
}

.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(25deg);
    z-index: -1;
    transition: width .5s;
}

.button:hover::before{
    width: 120%;
}