*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

:root{
    --shadow-normal:
                .5rem .5rem 1.5rem #47498c,
                -.5rem -.5rem 1.5rem #5d5fb6;
    --shadow-inset:
            inset .5rem .5rem 1.5rem #47498c,
            inset -.5rem -.5rem 1.5rem #5d5fb6;
    --background-color: linear-gradient(145deg,#5d5fb6, #47498c)
}

body{
    background-image: var(--background-color);
}

.center-content{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0 1.5rem;
}

.form-container{
    width: 100%;
    max-width: 50rem;
    background-image: var(--background-color);
    padding: 3.5rem;
    margin: auto;border-radius: .8rem;
    box-shadow: var(--shadow-normal);
}

input{
    display: block;
    width: 100%;
    color: #ddd;
    font-size: 1.6rem;
    padding: 1.5rem;
    margin-bottom: 3.5rem;
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    outline: none;
    box-shadow: var(--shadow-inset);
}

input:focus{
    box-shadow:
            .5rem .5rem 1.5rem #5d5fb6,
            -.5rem -.5rem 1.5rem #47498c;
}

input::placeholder{
    color: #ddd;
}

.input-group{
    display: flex;
}

.input-group input:first-child{
    margin-right: 3.5rem;
}

.button{
    width: 100%;
    background-color: transparent;
    font-size: 2rem;
    color: #ddd;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2rem;
    outline: none;
    padding: 1.5rem 0;
    cursor: pointer;
    box-shadow: var(--shadow-normal);
}

.button:hover{
    box-shadow: var(--shadow-inset);
}

@media screen and (max-width: 600px){
    .input-group{
        display: block;
    }

    .input-group input:first-child{
        margin-right: 0;
    }
}