/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed:400,300');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto Condensed', halvetica, sans-serif;
}

#header{
    width: 100%;
    height: 25vh;
    background-color: #333;
    position: relative;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #fff;
    font-family: 'Lato', halvetica, sans-serif;
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 100;
    text-transform: uppercase;
}

.navbar{
    width: 100%;
    background-color: #fff;
    color: #333;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    height: 6rem;
    line-height: 6rem;
}

.navbar-container{
    width: 70%;
    max-width: 120rem;
    margin: 0 auto;
}

.logo{
    float: left;
}

.navbar ul{
    float: right;
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    padding: 0 1.5rem;
    cursor: pointer; /*Make it seem as if they are links to keep the markup short*/
}

.navbar ul li:hover{
    background-color: #e05465;
    color: #fff;
}


/*Class to apply on scroll with JS*/
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

section{
    width: 100%;
    height: 200rem;
    position: relative;
    background-color: #e05465;
}

section h1{
    top: 20rem;
}

footer{
    position: relative;
    height: 20rem;
    background-color: #333;
}