*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272838;
}

.button{
    text-decoration: none;
    color: #1fe8b6;
    border: 3px solid #1fe8b6;
    padding: 2rem 5rem;
    font-size: 2.5rem;
    position: relative;
    transition: all .5s;
}

.button::before,
.button::after{
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-style: solid;
    border-color: #1fe8b6;
    transition: all .5s;
}

.button::before{
    top: -1.5rem;
    left: -1.5rem;
    border-width: 3px 0 0 3px;
}

.button::after{
    bottom: -1.5rem;
    right: -1.5rem;
    border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after{
    width: calc(100% + 3rem);
    height: calc(100% + 3rem);
    border-color: #fff;
}

.button:hover{
    color: #272838;
    background-color: #fff;
    border-color: #fff;
}

